dotenv
acme==0.31.0
amqp==2.5.0
#apturl==0.5.2
asn1crypto==0.24.0
astropy==3.2.1
backports.csv==1.0.7
bcrypt==3.1.7
billiard==3.6.0.0
Brlapi==0.6.6
celery==4.3.0
certbot==0.31.0
certbot-apache==0.31.0
certifi==2018.1.18
cffi==1.12.3
cftime==1.0.3.4
chardet==3.0.4
command-not-found==0.3
ConfigArgParse==0.11.0
configobj==5.0.6
cryptography==2.7
cupshelpers==1.0
cycler==0.10.0
decode==0.5.4
decorator==4.4.0
defer==1.0.6
defusedxml==0.6.0
diff-match-patch==20181111
distro-info===0.18ubuntu0.18.04.1
Django==3.1.4
django-extensions==2.2.1
django-import-export==1.2.0
django-widget-tweaks==1.4.5
et-xmlfile==1.0.1
future==0.15.2
httplib2==0.11.3
idna==2.6
imageio==2.5.0
jdcal==1.4.1
joblib==0.13.2
josepy==1.1.0
keyring==10.6.0
keyrings.alt==3.0
kiwisolver==1.1.0
kombu==4.6.3
language-selector==0.1
launchpadlib==1.10.6
lazr.restfulclient==0.13.5
lazr.uri==1.0.3
louis==3.5.0
macaroonbakery==1.1.3
Mako==1.0.7
MarkupSafe==1.0
matplotlib==3.1.1
mock==2.0.0
more-itertools==7.2.0
mpmath==1.1.0
mysqlclient==1.4.3
ndg-httpsclient==0.4.4
netCDF4==1.5.1.2
netifaces==0.10.4
networkx==2.3
numpy==1.19.5
oauth==1.0.1
odfpy==1.4.0
olefile==0.45.1
opencv-python==3.4.3.18
openpyxl==2.6.2
pandas==1.2.1
parsedatetime==2.4
pbr==3.1.1
pexpect==4.2.1
Pillow==6.1.0
protobuf==3.0.0
pudb==2017.1.4
pyasn1==0.4.2
pycairo==1.16.2
pycparser==2.19
pycrypto==2.6.1
pycups==1.9.73
Pygments==2.7.4
pygobject==3.26.1
PyICU==1.9.8
pymacaroons==0.13.0
PyMySQL==0.9.3
PyNaCl==1.1.2
pyOpenSSL==17.5.0
pyparsing==2.4.2
PyPDF2==1.26.0
PyQRCode==1.2.1
pyRFC3339==1.0
python-apt==1.6.4
python-augeas==0.5.0
python-dateutil==2.8.0
python-debian==0.1.32
python-decouple==3.1
python-dotenv==0.10.3
pytz==2019.2
PyWavelets==1.0.3
pyxdg==0.25
PyYAML==5.1.2
pyzbar==0.1.8
qrcode==6.1
reportlab==3.4.0
requests==2.18.4
requests-toolbelt==0.8.0
requests-unixsocket==0.1.5
scikit-image==0.15.0
scikit-learn==0.21.3
scipy==1.3.0
scour==0.36
screen-resolution-extra==0.0.0
SecretStorage==2.3.1
simplejson==3.13.2
six==1.12.0
sqlparse==0.3.0
ssh-import-id==5.7
-e git://github.com/sympy/sympy.git@db8d2da26c4ddc807f9e8b3c52fa5fe3fe8d4188#egg=sympy
system-service==0.3
systemd-python==234
tablib==0.13.0
tqdm==4.32.2
ubuntu-drivers-common==0.0.0
ufw==0.36
unattended-upgrades==0.1
urllib3==1.22
urwid==2.0.1
usb-creator==0.3.3
validate-email==1.3
vine==1.3.0
virtualenv==15.1.0
wadllib==1.3.2
xarray==0.12.3
xkit==0.0.0
xlrd==1.2.0
xlwt==1.3.0
zope.component==4.3.0
zope.event==4.2.0
zope.hookable==4.0.4
zope.interface==4.3.2
