asgiref==3.6.0
backports.zoneinfo==0.2.1
bcrypt==3.1.7
cffi==1.15.1
contourpy==1.0.7
cycler==0.11.0
defusedxml==0.7.1
deprecation==2.1.0
diff-match-patch==20200713
Django==4.2
django-extensions==3.2.1
django-import-export==3.2.0
django-widget-tweaks==1.4.12
et-xmlfile==1.1.0
fonttools==4.39.3
imageio==2.27.0
img2pdf==0.4.4
importlib-resources==5.12.0
kiwisolver==1.4.4
lazy_loader==0.2
lxml==4.9.2
MarkupPy==1.14
matplotlib==3.7.1
mpmath==1.3.0
mysqlclient==2.1.0
networkx==3.1
numpy==1.24.2
odfpy==1.4.1
opencv-python==3.4.18.65
openpyxl==3.1.2
packaging==23.1
pandas==2.0.0
pdf2image==1.16.3
pikepdf==7.2.0
Pillow==10.0.1
pycparser==2.21
pyparsing==3.0.9
PyPDF2==3.0.1
PyQRCode==1.2.1
python-dateutil==2.8.2
python-decouple==3.8
python-dotenv==1.0.0
pytz==2023.3
PyWavelets==1.4.1
PyYAML==6.0
pyzbar==0.1.9
scipy==1.11.2
scikit-image==0.20.0
six==1.16.0
sqlparse==0.4.3
sympy==1.11.1
tablib==3.4.0
tifffile==2023.4.12
typing_extensions==4.5.0
tzdata==2023.3
xlrd==2.0.1
xlwt==1.3.0
zipp==3.15.0
