{% extends "base_generic.html" %}
{% load i18n %}
{% load widget_tweaks %}
{% block content %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="card-body">

                        <h5 class="card-title">{% trans "Reset password" %}</h5>

                        <hr>

                        <form action="" method="post">{% csrf_token %}
                            {% if form.email.errors %} {{ form.email.errors }} {% endif %}
                            <p class="text-xl-left">{{ form.email }}</p>
                            <div class="text-right">
                                <input type="submit" class="btn btn-primary" value="{% trans "Reset password" %}"/>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}