{% extends "base_generic.html" %}
{% load i18n %}
{% load widget_tweaks %}
{% block content %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="card-body">

                        <h5 class="card-title">{% trans "Reset password" %}</h5>

                        <hr>

                        {% if validlink %}
                            <p>{% trans "Please enter (and confirm) your new password" %}.</p>
                            <form action="" method="post">
                                <div style="display:none">
                                    <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
                                </div>
                                <table>
                                    <tr>
                                        <td>{{ form.new_password1.errors }}
                                            <label for="id_new_password1">{% trans "New password" %}:</label></td>
                                        <td>{{ form.new_password1 }}</td>
                                    </tr>
                                    <tr>
                                        <td>{{ form.new_password2.errors }}
                                            <label for="id_new_password2">{% trans "Confirm password" %}:</label></td>
                                        <td>{{ form.new_password2 }}</td>
                                    </tr>

                                </table>
                                <div class="text-right">
                                    <input class="btn btn-primary" type="submit"
                                           value="{% trans "Change my password" %}"/>
                                </div>
                            </form>
                        {% else %}
                            <h5>{% trans "Password reset failed" %}</h5>
                            <p>{% trans "The password reset link was invalid, possibly because it has already been used. Please request a new password reset." %}</p>
                        {% endif %}

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}