{% extends "base_generic.html" %}
{% load i18n %}
{% load widget_tweaks %}
{% block content %}
    <div class="container mt-5" style="max-width: 87rem;">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="card-body">

                        <h5 class="card-title">{% trans "Reset password" %}</h5>

                        <hr>

                        <h5>{% trans "The password has been changed!" %}</h5>
                        <div class="text-right">
                            <a href="{% url 'login' %}">
                                <input class="btn btn-primary" type="submit"
                                       value="{% trans "Log in again?" %}"/>
                            </a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}