{% extends "base_generic.html" %}
{% load i18n %}
{% load widget_tweaks %}
{% block content %}

    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="card-body">

                        <h5 class="card-title">{% trans "Create a new Exam" %}</h5>

                        <hr>

                        {% if user.groups.all.0.name == 'professor' %}

                            <!-- Create fields -->
                            <form action="" method="post">
                                {% csrf_token %}
                                {{ form.management_form }}

                                <!-- classrooms
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">{ trans "Choose Classrooms" }</span>
                                    </div>
                                    { render_field form.classrooms class+="form-control" placeholder=form.classrooms.help_text }
                                </div>-->

                                <!-- exam_name -->
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">{% trans "Name" %}</span>
                                    </div>
                                    {% render_field form.exam_name class+="form-control" placeholder=form.exam_name.help_text %}
                                </div>

                                <p></p>

                                <!-- classrroms2 -->
                                <div class="card-body" style="background-color:#f3f3f3;">
                                    <h5 class="card-title">{% trans "Classrooms List" %}</h5>

                                    <script>
                                        var count_Class2 = 0;

                                        function get_ID_Class2(text) {
                                            var ini = text.indexOf('; id_') + 5;
                                            text = text.substring(ini, text.length);
                                            var fim = text.indexOf('<');
                                            return text.substring(0, fim);
                                        }

                                        function get_box_Class2(text) {
                                            var ini = text.indexOf('; id_') + 5;
                                            text = text.substring(ini, text.length);
                                            var fim = text.indexOf('<');
                                            var s = '<input type="checkbox" name="classrooms" value="' +
                                                text.substring(0, fim) + '" id="id_classrooms_' +
                                                count_Class2.toString() + '">'
                                            return s;
                                        }

                                        function get_Dif_Class2(text, str) {
                                            var ini = text.indexOf('">') + 2;
                                            text = '; ' + text.substring(ini, text.length);
                                            ini = text.indexOf(str) + 6;
                                            var sub = text.substring(ini, text.length);
                                            var fim = sub.indexOf(';');
                                            return sub.substring(0, fim);
                                        }
                                    </script>

                                    <table id="example4" class="table table-striped table-bordered"
                                           style="width:100%">
                                        <thead class="thead-light">
                                        <!-- header -->
                                        <tr>
                                            <th></th>
                                            <th scope="col">{% trans "Discipline" %}</th>
                                            <th scope="col">{% trans "Code" %}</th>
                                            <th scope="col">{% trans "Type" %}</th>
                                            <th scope="col">{% trans "Room" %}</th>
                                            <th scope="col">{% trans "Period" %}</th>
                                            <th scope="col">{% trans "N. Students" %}</th>
                                            <th scope="col">{% trans "Profs" %}</th>
                                            <th scope="col" class="text-right">{% trans "See" %}</th>
                                        </tr>
                                        </thead>
                                        <tbody>


                                        {% for c in form.classrooms %}

                                            {% csrf_token %}

                                            <tr>
                                                <!-- class -->
                                                <td class="text-center">
                                                    <div class="btn btn-outline-primary btn-sm">
                                                        <label>
                                                            <script>
                                                                document.write(get_box_Class2('{{ c }}'));
                                                            </script>
                                                        </label>
                                                    </div>
                                                </td>
                                                <!-- Discipline -->
                                                <td>
                                                    <div class="btn btn-outline-light text-dark btn-sm">
                                                        <script>
                                                            document.write(get_Dif_Class2('{{ c }}', '; dis'));
                                                        </script>
                                                    </div>
                                                </td>
                                                <!-- Code -->
                                                <td>
                                                    <div class="btn btn-outline-light text-dark btn-sm">
                                                        <script>
                                                            document.write(get_Dif_Class2('{{ c }}', '; cod'));
                                                        </script>
                                                    </div>
                                                </td>
                                                <!-- Type -->
                                                <td>
                                                    <div class="btn btn-outline-light text-dark btn-sm">
                                                        <script>
                                                            document.write(get_Dif_Class2('{{ c }}', '; typ'));
                                                        </script>
                                                    </div>
                                                </td>
                                                <!-- Room -->
                                                <td>
                                                    <div class="btn btn-outline-light text-dark btn-sm">
                                                        <script>
                                                            document.write(get_Dif_Class2('{{ c }}', '; roo'));
                                                        </script>
                                                    </div>
                                                </td>
                                                <!-- Period -->
                                                <td>
                                                    <div class="btn btn-outline-light text-dark btn-sm">
                                                        <script>
                                                            document.write(get_Dif_Class2('{{ c }}', '; day'));
                                                        </script>
                                                    </div>
                                                </td>
                                                <!-- N. Students -->
                                                <td>
                                                    <div class="btn btn-outline-light text-dark btn-sm">
                                                        <script>
                                                            document.write(get_Dif_Class2('{{ c }}', '; stu'));
                                                        </script>
                                                    </div>
                                                </td>
                                                <!-- profs -->
                                                <td>
                                                    <div class="btn btn-outline-light text-dark btn-sm">
                                                        <script>
                                                            document.write(get_Dif_Class2('{{ c }}', '; pro'));
                                                        </script>
                                                    </div>
                                                </td>

                                                <!-- see -->
                                                <td class="text-center">
                                                    <script>
                                                        var aux = get_ID_Class2('{{ c }}');
                                                        document.write("<a href=\"/course/classroom/" + aux + "\"");
                                                        document.write("class=\"btn btn-outline-primary btn-sm\"");
                                                        document.write(" target=\"_blank\">" + aux + "</a>");
                                                        count_Class2++;
                                                    </script>
                                                </td>
                                            </tr>

                                        {% endfor %}

                                        </tbody>
                                    </table>

                                    <hr>
                                    <p>{% trans "Column sorts are still not working correctly, use Search feature" %}</p>
                                </div>

                                <p></p>

                                <hr>
                                <div class="text-right">
                                    <a href="{% url 'exam:myexams' %}"
                                       class="btn btn-outline-primary">{% trans "Back" %}</a>
                                    <button class="btn btn-primary">{% trans "Save" %}</button>
                                </div>
                            </form>

                        {% endif %}

                        <hr>
                        {% trans "If you are not a coordinator, create an exam ONLY for your class" %}<br>
                        {% trans "Contact your discipline coordinator" %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
