{% extends "base_generic.html" %}
{% load i18n %}
{% load widget_tweaks %}
{% block content %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="card-body">

                        <h5 class="card-title">{% trans "Exame Detail" %}</h5>

                        {% if user.groups.all.0.name == 'professor' %}

                            <h5><strong>{% trans "Exam" %}: </strong>{{ exam.exam_name }}</h5>

                            <table class="table">
                                <tbody>
                                <tr>
                                    <td class="text-right">
                                        <!-- Update -->
                                        <a href="{% url 'exam:exam_update'  pk=exam.pk %}"
                                           class="btn btn-outline-primary btn-sm">
                                            {% trans "Update" %}
                                        </a>
                                        <!-- Delete -->
                                        <a href="{% url 'exam:exam-delete'  pk=exam.pk %}"
                                           class="btn btn-outline-danger btn-sm">
                                            {% trans "Delete" %}
                                        </a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        {% endif %}

                        <hr>
                        {% trans "Exam of the disciplines that I am enrolled" %}<br>
                        {% trans "Contact your discipline coordinator" %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}