{% extends "base_generic.html" %}
{% load i18n %}
{% load widget_tweaks %}
{% block content %}
    <div class="container mt-5">
        <div class="card">
            <div class="card-body">

                <h5 class="card-title">{% trans "Error" %}</h5>

                <hr>

                {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}

                <!-- Display JSON formatted error details -->
                {% if error_json %}
                    <!-- Actions buttons -->
                    <div class="text-right mt-4">
                        <button onclick="window.history.back()" class="btn btn-outline-primary">
                            {% trans "Back" %}
                        </button>
                        <hr>
                    </div>
                    <h4>{% trans "Code between [[def: and ]] contains instructions not permitted" %}</h4>
                    <h4>{% trans "Report:" %}</h4>
                    <pre>{{ error_json }}</pre>
                {% endif %}

            </div>
        </div>
    </div>
{% endblock %}