{% extends "base_generic.html" %}
{% load i18n %}
{% load widget_tweaks %}
{% block content %}
    <div class="container mt-5">
        <div class="card">
            <div class="card-body">

                <h5 class="card-title">{% trans "Error" %}</h5>

                <hr>

                {% if messages %}
                    <div class="mb-4">
                        {% for message in messages %}
                            <p class="mb-2 {% if 'error' in message.tags %}text-danger font-weight-bold{% elif 'success' in message.tags %}text-success{% else %}text-body{% endif %}">

                                {{ message|linebreaksbr|safe }}

                            </p>
                        {% endfor %}
                    </div>
                {% endif %}

                <!-- Display JSON formatted error details -->
                {% if error_json %}
                    <!-- Actions buttons -->
                    <div class="text-right mt-4">
                        <button onclick="window.history.back()" class="btn btn-outline-primary">
                            {% trans "Back" %}
                        </button>
                        <hr>
                    </div>
                    <h4>{% trans "Code between [[def: and ]] contains instructions not permitted" %}</h4>
                    <h4>{% trans "Report:" %}</h4>
                    <pre>{{ error_json }}</pre>
                {% endif %}

            </div>
        </div>
    </div>
{% endblock %}