{% extends "base_generic.html" %}
{% load i18n %}
{% load widget_tweaks %}
{% block content %}
    <div class="container mt-5">
        <div class="card">
            <div class="card-body">

                <h5 class="card-title">{% trans "Delete Exam" %}</h5>

                <hr>

                {% if user.groups.all.0.name == 'professor' %}

                    <p class="card-text">
                        {% trans "Are you sure you want to delete the exam" %}: <code>{{ exam }}</code>?
                    </p>

                    <form method="post">
                        {% csrf_token %}

                        <hr/>
                        <div class="text-left">
                            <a href="{% url 'exam:myexams' %}" class="btn btn-outline-danger">
                                {% trans "Cancel" %}
                            </a>
                        </div>
                        <div class="text-right">
                            <button class="btn btn-danger">{% trans "Delete" %}</button>
                        </div>
                    </form>

                {% endif %}

                <hr>
                {% trans "Exams of the disciplines that I am enrolled" %}<br>
                {% trans "Contact your discipline coordinator" %}
            </div>
        </div>
    </div>
{% endblock %}
