{% extends "base_generic.html" %}
{% load i18n %}
{% load widget_tweaks %}
{% block content %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="card-body">

                        <h5 class="card-title">{% trans "Create a New Discipline" %}</h5>

                        <hr>

                        {% if user.is_staff %}

                            <form method="post">
                                {% csrf_token %}

                                <!-- courses -->
                                <div class="btn-group-vertical">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">{% trans "Choose Courses" %}</span>
                                    </div>
                                    {% render_field form.courses class+="form-control" %}
                                </div>

                                <!-- discipline_name -->
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">{% trans "Name" %}</span>
                                    </div>
                                    {% render_field form.discipline_name class+="form-control" placeholder=form.discipline_name.label %}
                                </div>

                                <!-- discipline_code -->
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">{% trans "Code" %}</span>
                                    </div>
                                    {% render_field form.discipline_code class+="form-control" placeholder=form.discipline_code.label %}
                                </div>

                                <!-- discipline_objective -->
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">{% trans "Objective" %}</span>
                                    </div>
                                    {% render_field form.discipline_objective class+="form-control" placeholder=form.discipline_objective.label %}
                                </div>

                                <!-- discipline_profs -->
                                <div class="btn-group-vertical">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">{% trans "Profs" %}</span>
                                    </div>
                                    {% render_field form.discipline_profs class+="form-control" %}
                                </div>

                                <!-- discipline_coords -->
                                <div class="btn-group-vertical">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">{% trans "Coords" %}</span>
                                    </div>
                                    {% render_field form.discipline_coords class+="form-control" %}
                                </div>

                                <hr>
                                <!-- Actions -->
                                <div class="text-right">
                                    <a href="{% url 'course:discipline-list' %}"
                                       class="btn btn-outline-primary">{% trans "Back" %}</a>
                                    <button class="btn btn-primary">{% trans "Save" %}</button>
                                </div>
                            </form>

                        {% endif %}

                        <hr>
                        {% trans "Only admin can update/create/delete institutes/courses/disciplines" %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}