{% extends "base_generic.html" %}
{% load i18n %}
{% load widget_tweaks %}
{% block content %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="card-body">

                        <h5 class="card-title">{% trans "Create a new Topic" %}</h5>

                        <hr>

                        {% if user.groups.all.0.name == 'professor' %}

                            <form method="post">
                                {% csrf_token %}

                                <!-- discipline -->
                                <div class="btn-group-vertical">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">{% trans "Choose Discipline" %}</span>
                                    </div>
                                    {% render_field form.discipline class+="form-control" %}
                                </div>

                                <!-- topic_text -->
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">{% trans "Topic" %}</span>
                                    </div>
                                    {% render_field form.topic_text class+="form-control" placeholder=form.topic_text.help_text %}
                                </div>

                                <!-- topic_description -->
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">{% trans "Description" %}</span>
                                    </div>
                                    {% render_field form.topic_description class+="form-control" placeholder=form.topic_description.label %}
                                </div>

                                <hr>
                                <!-- actions -->
                                <div class="text-right">
                                    <a href="{% url 'topic:topic-list' %}"
                                       class="btn btn-outline-primary">{% trans "Back" %}</a>
                                    <button class="btn btn-primary">{% trans "Save" %}</button>
                                </div>
                            </form>

                            <hr>
                            {% trans "Important: Use the abbreviated name in Topic and represent the content of the Discipline." %}
                            <br>

                        {% endif %}

                        <hr>
                        {% trans "Only coordenate registered in a discipline" %}<br>
                        {% trans "Contact your discipline coordinator" %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
