{% extends "base_generic.html" %}
{% load i18n %}
{% load widget_tweaks %}
{% block content %}
    <div class="container mt-5" style="max-width: 87rem;">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="card-body">

                        <h5 class="card-title">{% trans "Topic List" %}</h5>

                        {% if user.groups.all.0.name == 'professor' %}

                            {% if topic_list %}
                                <div class="card-body" style="background-color:#f3f3f3;">
                                    <table id="example" class="table table-striped table-bordered" style="width:100%">
                                        <thead class="thead-light">

                                        <!-- header -->
                                        <tr>
                                            <th scope="col">{% trans "Topic" %}</th>
                                            <th scope="col">{% trans "Discipline" %}</th>
                                            <th scope="col" class="text-right">{% trans "Actions" %}</th>
                                        </tr>
                                        </thead>

                                        <tbody>
                                        {% for topic in topic_list %}
                                            <tr>

                                                <!-- topic_text -->
                                                <td>
                                                    <a href="{% url 'topic:topic-detail' pk=topic.pk %}"
                                                       class="btn btn-outline-info text-dark btn-sm">
                                                        {{ topic.topic_text }}
                                                    </a>
                                                </td>

                                                <!-- disciplines -->
                                                <td>
                                                    {% for d in topic.discipline.all %}
                                                        <a href="{% url 'course:discipline-detail' pk=d.pk %}"
                                                           class="btn btn-outline-warning text-dark btn-sm">
                                                        {{ d }}
                                                        </a><br>
                                                    {% endfor %}

                                                </td>

                                                <td class="text-right">
                                                    {% for d in topic.discipline.all|slice:":1"%}
                                                        {% if user.is_superuser or user in d.discipline_coords.all %}
                                                            <!-- Update -->
                                                            <a href="{% url 'topic:topic-update'  pk=topic.pk %}"
                                                               class="btn btn-outline-primary btn-sm">
                                                                {% trans "Update" %}
                                                            </a>
                                                            <!-- Delete -->
                                                            <a href="{% url 'topic:topic-delete'  pk=topic.pk %}"
                                                               class="btn btn-outline-danger btn-sm">
                                                                {% trans "Delete" %}
                                                            </a>
                                                        {% endif %}
                                                    {% endfor %}
                                                </td>

                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>

                            {% else %}

                                <!-- If there is no topic -->
                                <div class="text-center mt-5 mb-5 jumbotron">
                                    <h5>{% trans "There is no" %}
                                        <code> {% trans "Topic" %} </code> {% trans "registered yet." %}
                                    </h5>
                                </div>

                            {% endif %}


                            <!-- Create a New Topic    -->
                            <script> var count = 0; </script>
                            {% for t in topic_list %}
                                {% for d in t.discipline.all %}
                                    {% if user.is_superuser or user in d.discipline_coords.all %}

                                        <script>
                                            if (count == 0) {
                                                document.write("<hr/>");
                                                document.write("<div class=\"text-right\">");
                                                document.write("<a href=\"{% url 'topic:topic-create' %}\" class=\"btn btn-primary\">");
                                                document.write("{% trans 'Create a New Topic' %}</a>")
                                            }
                                            count++;
                                        </script>
                                    {% endif %}

                                {% endfor %}

                            {% endfor %}

                        {% endif %}

                        <hr>
                        <p class="text-left">
                            {% trans "Topics of the disciplines that I am enrolled" %}<br>
                            {% trans "Only coordinator can create/update/delate topics" %}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
