{% extends "base_generic.html" %}
{% load i18n %}
{% load widget_tweaks %}
{% block content %}
    <div class="container mt-5" style="max-width: 87rem;">
        <div class="card">
            <div class="card-body">

                <h5 class="card-title">{% trans "Delete Classroom" %}</h5>

                <hr>

                {% if user.groups.all.0.name == 'professor' %}

                    <p class="card-text">
                        {% trans "Are you sure you want to delete the classroom" %}: <code>{{ classroom }}</code>?
                    </p>

                    <script> var count = 0; </script>
                    {% for c in classroom.discipline.classrooms2.all %}
                        {% for e in c.exams2.all %}
                            {% if c.exams2.all.count == 1 and classroom == c %}
                                <script>
                                    count++;
                                </script>
                                <hr/>
                                <p>
                                    {% trans "An exam cannot exist without a marked classroom!!!" %}
                                    {% trans "Before you delete, MAKE SURE you have another classroom marked in all exams." %}
                                </p>
                                <p>
                                    {% trans "Classrooms from discipline" %}
                                    <code>{{ classroom.discipline.discipline_name }}</code>
                                </p>
                                {% trans "Exam " %} <code>{{ e.exam_name }}</code>
                                {% trans "has ONLY ONE classroom: " %} <code>{{ c }}</code><br>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}

                    <form method="post">
                        {% csrf_token %}

                        <hr/>
                        <div class="text-left">
                            <a href="{% url 'course:classroom-mylist' %}" class="btn btn-outline-danger">
                                {% trans "Cancel" %}
                            </a>
                        </div>
                        <div class="text-right">

                            <script>
                                if (count == 0) {
                                    document.write("<button class=\"btn btn-danger\">");
                                    document.write("{%  trans 'Delete' %}</button>")
                                }
                            </script>
                        </div>

                    </form>

                {% endif %}

                <hr>
                {% trans "Only teacher registered in a discipline" %}<br>
                {% trans "Contact your discipline coordinator" %}
            </div>
        </div>
    </div>
{% endblock %}
