{% extends "base_generic.html" %}
{% load i18n %}
{% load widget_tweaks %}
{% block content %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="card-body">

                        <h5 class="card-title">{% trans "Classroom Update" %}</h5>

                        <hr>

                        {% if user.groups.all.0.name == 'professor' %}

                            <!-- import students -->
                            <form class="input-group mb-3 text-right" action="import/" method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                    <input type="file" name="myfile" id="inputGroupFile01">
                                        <button class="btn btn-primary"
                                                type="submit">{% trans "Upload-Students" %}</button>
                            </form>

                            <h6>
                                <a href="http://vision.ufabc.edu.br/MCTest/MCTest5-web/examples/">{% trans "see examples" %}</a>
                            </h6>

                            <h6>{% trans "CSV file syntax" %} - {% trans "Only UTF-8 format" %}: </h6>
                            {% trans "123, joão,  joao@gmail.com" %}<br>
                            {% trans "987, maria, maria@gmail.com" %}<p></p>

                            {% trans "If necessary, use this to convert the accents" %}:
                            <a href="http://w2.syronex.com/jmr/latex-symbols-converter">{% trans "convert" %}</a><br>
                            {% trans "After importing CSV file, check below if students are marked in gray" %}<p>

                            <hr>

                            <form method="post">
                                {% csrf_token %}

                                <!-- discipline -->
                                <div class="btn-group-vertical">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">{% trans "Choose Discipline" %}</span>
                                    </div>
                                    {% render_field form.discipline class+="form-control" %}
                                </div>

                                <!-- students -->
                                <div class="btn-group-vertical">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">{% trans "Students" %}</span>
                                    </div>
                                    {% render_field form.students class+="form-control" %}
                                </div>

                                <!-- classroom_profs -->
                                <div class="btn-group-vertical">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">{% trans "Profs" %}</span>
                                    </div>
                                    {% render_field form.classroom_profs class+="form-control" %}
                                </div>

                                <!-- classroom_code -->
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">{% trans "Code" %}</span>
                                    </div>
                                    {% render_field form.classroom_code class+="form-control" placeholder=form.course_name.help_text %}
                                </div>

                                <!-- classroom_room -->
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">{% trans "Room" %}</span>
                                    </div>
                                    {% render_field form.classroom_room class+="form-control" placeholder=form.course_code.help_text %}
                                </div>

                                <!-- classroom_type -->
                                <div class="btn-group-vertical">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">{% trans "Type" %}</span>
                                    </div>
                                    {% render_field form.classroom_type class+="form-control" %}
                                </div>

                                <hr>

                                <!-- Actions -->
                                <div class="text-right">
                                    <a href="{% url 'course:classroom-mylist' %}"
                                       class="btn btn-outline-primary">{% trans "Back" %}</a>
                                    <button class="btn btn-primary">{% trans "Save" %}</button>
                                </div>
                            </form>

                        {% endif %}

                        <hr>
                        {% trans "Only teacher registered in a discipline" %}<br>
                        {% trans "Contact your discipline coordinator" %}                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}