{% extends "base_generic.html" %}
{% load i18n %}
{% load widget_tweaks %}
{% load static %}
{% block content %}
    <div class="container mt-5">
        <div class="card">
            <div class="card-body">

                <h4 class="card-title">{% trans "README" %} - MCTest v.5.4</h4>

                <hr>

                <p>{% trans "Welcome to MCTest, a website dedicated to assisting in exam preparation and grading." %}</p>

                <p>
                    {% trans "MCTest is free and open-source software (see" %}
                    <a href="{% url 'main:license' %}">{% trans "License" %}</a>),
                    {% trans "with its most notable feature being the ability to handle parametric questions using LaTeX and Python. This allows for numerous variations of the same question." %}
                </p>

                <p>
                    <a href="https://github.com/fzampirolli/mctest/tree/master/book">{% trans "Books" %}</a> {% trans "and" %}
                    <a href="https://youtube.com/playlist?list=PL5rrrH7S583Ad6iQ_neu0F7JwpPqyxNEh&si=PYf6PLBuPfTdZg41">{% trans "Playlist" %}</a>.
                </p>

{#                <p>#}
{#                    {% trans "Please access " %}#}
{#                    <a href="http://vision.ufabc.edu.br">vision.ufabc.edu.br</a>#}
{#                    {% trans "for some " %}#}
{#                    <a href="http://vision.ufabc.edu.br/MCTest/MCTest5-Experiments/">examples</a>.#}
{#                </p>#}

                <div class="alert alert-info">
                    <h6>{% trans "Help us spread MCTest. The more people use it, the faster we can make improvements." %}</h6>
                </div>

                <hr>

                <h5>{% trans "Future Improvements" %}</h5>
                <ol>
                    <li>
                        <p>{% trans "Error messages and graphical interfaces" %};</p>
                    </li>
                    <li>
                        <p>{% trans "Install" %} <a
                                href="https://github.com/fzampirolli/mctest/blob/master/_setup-all.sh">_setup-all.sh</a>
                            ({% trans "including other operating systems" %});</p>
                    </li>
                    <li>
                        <p>{% trans "The time to generate PDF from an exam with many students" %}.</p>
                    </li>
                    <li>
                        <p>{% trans "Site and DB in different languages. For example, edit the " %}
                            locale/pt/LC_MESSAGES/django.po {% trans "for Portuguese and use the commands" %}:
                        <pre class="bg-light p-2 border rounded">
django-admin.py makemessages -l pt
django-admin.py compilemessages</pre>
                        </p>

                        <p>{% trans "Afterwards make the following changes in " %}
                            <a href="{% static '_settings.env' %}">_settings.env</a>:
                        <pre class="bg-light p-2 border rounded">
LANGUAGE_CODE = 'pt-br'
TIME_ZONE = 'America/Sao_Paulo'</pre>
                        {% trans "Please see 'locale' folder for other languages" %};
                        </p>
                    </li>
                    <li>
                        <p>{% trans "AI Exams Module: individual exams based on the students and the class history" %};</p>
                    </li>
                    <li>
                        <p>{% trans "AI Students Module: evaluation of how the weigh questions in order to show the skills and abilities of each student" %};</p>
                    </li>
                    <li>
                        <p>{% trans "Use of blockchain to validate exams, history and other features" %};</p>
                    </li>
                    <li>
                        <p>{% trans "Inclusion of facial recognition in the QR Code of the exams" %};</p>
                    </li>
                    <li>
                        <p>{% trans "Improve of Item Response Theory" %};</p>
                    </li>
                    <li>
                        <p>{% trans "Use Markdown to describe questions and send exams or activities to students" %};</p>
                    </li>
                    <li>
                        <p>{% trans "Adapt the Android application to this version of MCTest" %} [<a
                                href="http://www.lbd.dcc.ufmg.br/colecoes/wvc/2015/018.pdf">ref15</a>, <a
                                href="https://itp.ifsp.edu.br/ojs/index.php/IC/article/viewFile/221/394">ref16b</a>];
                        </p>
                    </li>
                    <li>
                        <p>{% trans "Study the integration of MCTest with other systems, for example, SIGAA and Moodle, sharing different databases" %};</p>
                    </li>
                    <li>
                        <p>{% trans "Run the parametric question codes on other servers, similar to those used in the Moodle VPL plug-in" %};</p>
                    </li>
                    <li>
                        <p>{% trans "Integrate with MakeTests" %}: <a href="https://github.com/fernandoteubl/MakeTests">link</a>;</p>
                    </li>
                    <li>
                        <p>{% trans "Write a complete tutorial to install and use MCTest" %}.</p>
                    </li>
                </ol>

                <hr>

                <h5>{% trans "I would like to collaborate with experts to write articles or technical reports" %}</h5>
                <p>
                    {% trans "A maximum of 5 authors per article" %};
                    {% trans "Authors' order proportional to the number of pages written" %};
                    {% trans "I already have data/implementations for some topics" %}:
                </p>

                <ol>
                    <li>
                        <p>{% trans "Security in exams using QRcode" %};</p>
                    </li>
                    <li>
                        <p>{% trans "Exams with multiple-choice questions and different weights in the answers" %};</p>
                    </li>
                    <li>
                        <p>{% trans "Answer sheet design comparisons" %};</p>
                    </li>
                    <li>
                        <p>{% trans "A case study using Item Response Theory" %};</p>
                    </li>
                    <li>
                        <p>{% trans "Individualized online activities with multiple-choice parametric questions" %};</p>
                    </li>
                    <li>
                        <p>{% trans "MCTest: Software Requirements Specification" %};</p>
                    </li>
                    <li>
                        <p>{% trans "MCTest: graphic interface" %};</p>
                    </li>
                    <li>
                        <p>{% trans "MCTest: data base" %};</p>
                    </li>
                    <li>
                        <p>{% trans "MCTest: software architecture" %};</p>
                    </li>
                    <li>
                        <p>{% trans "MCTest: software deployment" %}.</p>
                    </li>
                </ol>

                <hr>

                <h5>{% trans "Versions" %}</h5>

                <ul>
                    <li>
                        <p><strong>MCTest 5.0</strong></p>
                        <ul>
                            <li>{% trans "August 2018" %}</li>
                            <li>{% trans "Multiple choice test model in QR Code itself" %}</li>
                        </ul>
                    </li>
                    <p></p>
                    <li>
                        <p><strong>MCTest 5.1</strong></p>
                        <ul>
                            <li>{% trans "August 2019" %}</li>
                            <li>{% trans "New graphical interfaces" %}</li>
                            <li>{% trans "The multiple-choice test template is now stored on the server" %}</li>
                        </ul>
                    </li>
                    <p></p>
                    <li>
                        <p><strong>MCTest 5.2</strong></p>
                        <ul>
                            <li>{% trans "Grant: #2018/23561-1, São Paulo Research Foundation: " %} <a
                                    href="https://bv.fapesp.br/pt/auxilios/105047/um-sistema-universal-para-geracao-e-correcao-automatica-de-questoes-parametrizadas/">FAPESP</a>
                            </li>
                            <li>{% trans "Title: A universal system for generation and correction automatic of parametrized questions" %}</li>
                            <li>01/09/2019 - 31/08/2021</li>
                        </ul>
                    </li>
                    <p></p>
                    <li>
                        <p><strong>MCTest 5.3</strong></p>
                        <ul>
                            <li>{% trans "Questions with skills defined in" %} <code>linker.json</code>.</li>
                            <li>{% trans "Trace Tables" %} ⇒ <a
                                    href="https://sol.sbc.org.br/index.php/sbie/article/view/26777">Teubl et al.</a>
                            </li>
                            <li>{% trans "Email-based hashing." %}</li>
                            <li>{% trans "Exams with topics and adaptive tests." %}</li>
                            <li><strong>VPL 13</strong> {% trans "for Moodle 4.1." %}</li>
                            <li><strong>{% trans "First Edition of the Book" %}</strong> ⇒ <a
                                    href="https://github.com/fzampirolli/mctest/tree/master/book">MCTest v.5.3</a></li>
                        </ul>
                    </li>
                    <p></p>
                    <li>
                        <p><strong>MCTest 5.4 – {% trans "Currently in Progress" %}</strong></p>
                        <ul>
                            <li><strong>VPL 14:</strong> {% trans "AI-based feedback" %} ⇒ <a
                                    href="https://doi.org/10.1002/cae.70132">Zampirolli et al.</a></li>
                            <li><strong>{% trans "Interface & Usability" %}:</strong> {% trans "Main and Exam screens" %}.
                            </li>
                            <li><strong>{% trans "Version Control" %}:</strong> {% trans "Fast switching on the Exam Screen between layouts v5.3 and v5.4" %}.
                            </li>
                            <li><strong>{% trans "Organized Workflows" %}:</strong> {% trans "Automatic selection on the Exam Screen" %}
                                (📋 {% trans "Flow 1" %}, 📑 {% trans "Flow 2" %}, ✍️ {% trans "Flow 3" %}).
                            </li>
                            <li><strong>{% trans "Security" %}:</strong> {% trans "Conflict validation and resolution" %}.
                            </li>
                            <li><strong>{% trans "Second Edition of the Book (in construction)" %}</strong> ⇒ <a
                                    href="https://github.com/fzampirolli/mctest/tree/master/book">MCTest v.5.4</a></li></ul>
                    </li>
                </ul>

                <hr>

                <h5>{% trans "Install MCTest" %}</h5>
                <p>{% trans "To install MCTest, follow the steps below:" %}</p>

                <ol>
                    <li><strong>{% trans "Install" %} <a href="https://www.virtualbox.org/">VirtualBox</a></strong></li>
                    <li><strong>{% trans "Install Ubuntu 24.04 on VirtualBox" %}</strong></li>
                    <li>
                        <strong>{% trans "In Ubuntu, run the following commands in the terminal:" %}</strong>
                        <pre class="bg-dark text-white p-3 rounded mt-2">
sudo su
wget https://raw.githubusercontent.com/fzampirolli/mctest/master/_setup-all.sh
sed -i 's/\/home\/fz\//\/home\/yourUsername\//g' _setup-all.sh
source _setup-all.sh
pip install mysqlclient</pre>
                        <small class="text-muted">{% trans "Change 'yourUsername' above before running the script." %}</small>
                        <p class="mt-2">{% trans "This will download the installation script and perform the necessary configurations." %}</p>
                        <p>{% trans "Please wait for completion: After a few minutes, the process will be finished, and MCTest will be set up." %}</p>
                    </li>
                </ol>

                <p>{% trans "In the same terminal, run MCTest with the following command, changing 'yourUsername':" %}</p>
                <pre class="bg-dark text-white p-3 rounded">
source /home/yourUsername/PycharmProjects/runDjango.sh</pre>

                <p>{% trans "Access MCTest: After completion, open a web browser with the URL" %} <a
                        href="http://127.0.0.1:8000">http://127.0.0.1:8000</a>.</p>

                <p>{% trans "For new terminals, run MCTest with the following commands, changing 'yourUsername':" %}</p>
                <pre class="bg-dark text-white p-3 rounded">
sudo su
source /home/yourUsername/PycharmProjects/AmbientePython3/bin/activate
source /home/yourUsername/PycharmProjects/_settings.env
source /home/yourUsername/PycharmProjects/runDjango.sh</pre>

                <p class="mt-3">
                    {% trans "For more details and configuration options, refer to the" %}
                    <a href="https://raw.githubusercontent.com/fzampirolli/mctest/master/_setup-all.sh">_setup-all.sh</a>
                    {% trans "file" %}.
                </p>

            </div>
        </div>
    </div>
{% endblock %}