{% extends "base_generic.html" %}
{% load i18n %}
{% load widget_tweaks %}
{% block content %}
    <div class="container mt-5" style="max-width: 87rem;">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="card-body">

                        <h5 class="card-title">{% trans "Sign up" %}</h5>

                        <hr>
                        <h2>{% trans "Sign up" %}</h2>
                        <form method="post">
                            {% csrf_token %}
                            {% for field in form %}
                                <p>
                                    <div class="group_{{ field.auto_id }}">
                                        {{ field.label_tag }}<br>
                                        {{ field }}
                                        {% if field.help_text %}
                                            <small style="color: grey">{{ field.help_text }}</small>
                                        {% endif %}
                                        {% for error in field.errors %}
                                            <p style="color: red">{{ error }}</p>
                                        {% endfor %}
                                </div>
                                </p>
                            {% endfor %}
                        <div class="text-right">
                            <a href="{% url 'main:According' %}" class="btn btn-outline-danger">
                                {% trans "According" %}</a>
                            <button type="submit" class="btn btn-primary">{% trans "Sign up" %}</button>
                        </div>
                    </form>


                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}